# This is a templatete to write the ./config.sh file
# you can just copy this file or start
# with an empty file and copy the variables you need
# it doesn't matter since this file is
# included before ./config.sh
PKG_CONFIG_PATH=""
CXX_FLAGS=""
